.HeaderContainer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  align-items: center;
  gap: 200px;
}

.HeaderContainer > img {
  width: 150px;
  height: 120px;
}
.HeaderContainer > p{
  cursor: pointer;
  text-transform: uppercase
  
}
.textLink{
  text-decoration: none;
  color: black;
  
}
.textLink:hover{
  color: red;
}
